.new_student_form_container{
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.page_header{
    text-align: center;
    padding-bottom: 2rem;
}
.new_student_form_box{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;

    align-items: center;

}

.next-back-buttons-group{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}